.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 3rem;
    place-content: center;
    place-items: center;

    .pokemon-card {
        box-shadow: rgba(44, 62, 80, 0.4)0px 4px 12px;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 4px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: .75rem;
        padding: 1rem .25rem;
        max-width: 350px;
        &:hover {
            // transform: translateY(-3px);
            box-shadow: rgba(44, 62, 80, 0.6) 0px 6px 20px;
        }

        .pokemon {
            display: grid;
            place-content: center;
            place-items: center;
        }

        .detail {
            display: grid;
            place-content: center;
            place-items: start;
            gap: .5rem;

            .moves {
                display: grid;
                place-content: center;
                place-items: start;
                gap: .5rem;
            }
        }

        button {
            background-color: black;
            color: white;
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            border: 1px solid black;

            &:hover {
                background-color: white;
                color: black;
            }

        }

    }

}